@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --font-family: Roboto, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
}
body {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    height: 100vh;
    color: white;
}
.sidebar {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    background: rgba(0, 170, 255, 1);
    padding: 1rem;
    display: grid;
    gap: 4rem;
    align-content: start;
}
.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: red;
}
.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: rgba(200, 200, 200, 0.5);
    padding: 1rem;
    color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.sidebar nav {
    display: grid;
    gap: 4rem;
}

.sidebar nav>ul {
    display: grid;
    gap: 1rem;
    list-style: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.icon-grid {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    gap: 1rem;
}

